<?xml version="1.0"?>
<!--
/**
 * @author Mohammed Ibrahim
 * @copyright Copyright (c) 2018 Mohdibra
 * @package Mohdibra_SortByDate
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mohdibra_SortByDate" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
